.music-player {
  background: rgba(119, 112, 112, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  position: relative;
  top: -30px; /* Điều chỉnh giá trị này để đẩy lên */
}
.player-bg {
  width: 100%;
  border-radius: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 5px; /* Điều chỉnh giá trị này để đẩy lên */
}
#progress-bar {
  width: 100%;
}

.time-info{
  margin-top: 10px;
}